.slider {
  .count {
    display: flex;
    justify-content: center;
    img{
      width: 80px;
    }
    p {
      font-size: 15px;
      color: #000;
    }
    .box {
      margin: 25px 35px;

      img {
        margin-bottom: 12px;
      }

    }
  }
  img.logo {
    width: 450px;
  }

}
.our-client {
  img{
    width:45px;
  }
}
.row mb-5{
  display: flex;
  justify-content: center;
}
.social-icons{
  a{
    margin: 15px;
  }
}